## LOGGING
LOG_LEVEL=INFO

## MINIO
ENDPOINT=localhost:9000
ACCESS_KEY=
SECRET_KEY=
SECURE=false
RAW_BUCKET=

## POSTGRES
DB_URL=postgresql+psycopg2://{user}:{password}@{ip}:{port}/{db_name}

## ELASTICSEARCH
ELASTIC_HOST=http://{ip}:{port}
INDEX=

## NEO4J
URI=bolt://localhost:7687
NEO4J_USER=
NEO4J_PASSWORD=

## GEMINI
GEMINI_API_KEY=